<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Fichiers</h6>
		</div>
		<div class="card-body">
		
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Branche</span>
  </a>
  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded" id="list_branchs">
    </div>
  </div>
		<div class="table-responsive">
			<table class="table table-bordered" id="tableRepo" width="100%" cellspacing="0">
			<thead>
				<tr>
				<th>Nom</th>
				<th>Type</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
		</div>
	</div>
</div>

